<html>
    <head>
	<title>{{ title }}</title>
	<script type="text/javascript">
         var _AJAX_URI_ = '{{ ajax_uri }}';
         var _PUBLIC_URI_ = '{{ public_uri }}';
         var _RESOURCES_URI_ = '{{ R }}';
         var _PUBLIC_URI_ = '{{ public_uri }}';
	</script>
    </head>
    <body>
	{{ body|raw }}
    </body>
</html>
