{#*
  * @var array submit
  * @var array tests
 **#}
<div id="{{ F }}">
    <h2>{{ __('Setup', 'setup') }}</h2>
    <div>
        {{  __('Fill in form below to test or export configuration.', 'setup') }}
    </div>
    <form action="{{ url({ _page: 'setup' }) }}" method="post" enctype="application/x-www-form-urlencoded">
        <fieldset>
            <legend>{{ __('Localization', 'setup') }}</legend>
			<div class="col-md-6 col-xs-12">
				<div class="row">
					<div class="col-md-4 col-xs-12">
						<label for="localization_locale">{{ __('Locale', 'setup') }}</label>
					</div>
					<div class="col-md-8 col-xs-12">
						<select class="form-control" name="localization_locale" id="localization_locale">
							<option> </option>
							{%  for locale in locales %}
								<option{% if submit.locale == locale %} selected="selected"{%  endif %} value="{{  locale|escape }}">{{ __(locale, 'setup') }}</option>
							{%  endfor %}
						</select>
					</div>
				</div>
			</div>
        </fieldset>
        <fieldset>
            <legend>{{ __('Database', 'setup') }}</legend>
			<div class="col-md-6 col-xs-12">
				<div class="row">
					<div class="col-md-4 col-xs-12">
						<label for="database_host">{{ __('Host', 'setup') }}</label>
					</div>
					<div class="col-md-8 col-xs-12">
						<input class="form-control" type="text" name="database_host" id="database_host" value="{{ submit.database_host|escape }}" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-12">
						<label for="database_database">{{ __('Database (Optional)', 'setup') }}</label>
					</div>
					<div class="col-md-8 col-xs-12">
						<input type="text" class="form-control" name="database_database" id="database_database" value="{{ submit.database_database|escape }}" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-12">
						<label for="database_username">{{ __('Username', 'setup') }}</label>
					</div>
					<div class="col-md-8 col-xs-12">
						<input type="text" class="form-control" name="database_username" id="database_username" value="{{ submit.database_username|escape }}" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-12">
						<label for="database_password">{{ __('Password', 'setup') }}</label>
					</div>
					<div class="col-md-8 col-xs-12">
						<input type="text" class="form-control" name="database_password" id="database_password" value="{{ submit.database_password|escape }}" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-12">
						<label for="database_type">{{ __('Type', 'setup') }}</label>
					</div>
					<div class="col-md-8 col-xs-12">
						<select name="database_type" class="form-control" id="database_type">
							<option value="mysqli"{% if submit.database_type == 'mysqli' %} selected="selected"{% endif %}>{{ __('MySQLi') }}</option>
							<option value="pdo"{%  if submit.database_type == 'pdo' %} selected="selected"{% endif %}>{{ __('PDO') }}</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-xs-12">
						<label for="database_dsn">{{  __('DSN', 'setup') }}</label>
					</div>
					<div class="col-md-8 col-xs-12">
						<input type="text" class="form-control" name="database_dsn" id="database_dsn" value="{{ submit.database_dsn|escape }}" />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<p>
							<label>
								<input type="checkbox" name="database_autoinstall" id="database_autoinstall" value="1" {% if not submit.database_autoinstall is empty %}checked="checked" {% endif %}/>
								{{ __('Perform system auto-install', 'setup') }}
							</label>
						</p>
						<p>
							<label>
								<input type="checkbox" name="database_autouninstall" id="database_autouninstall" value="1" {% if not submit.database_autouninstall is empty %}checked="checked" {% endif %}/>
								{{ __('Perform system auto-uninstall', 'setup') }}
							</label>
						</p>
						<p>
							<label>
								<input type="checkbox" name="database_autoupdate" id="database_autoupdate" value="1" {% if not submit.database_autoupdate is empty %}checked="checked" {% endif %}/>
								{{ __('Perform system auto-update', 'setup') }}
							</label>
						</p>
					</div>
				</div>
			</div>
        </fieldset>
		<div class="row">
			<div class="col-xs-12">
            <input class="btn btn-primary" type="submit" name="action" value="Export configuration.php" />
			</div>
		</div>
    </form>
</div>
