{#*
  * @var array submit
  * @var array tests
 **#}
<div id="{{ F }}">
    <h2>{{  __('Configuration') }}</h2>
    <div>
        {{  __('Fill in form below to test or export configuration.') }}
    </div>
    <form action="" method="post" enctype="application/x-www-form-urlencoded">
        <fieldset>
            <legend>{{ __('Localization') }}</legend>
            <div>
                <p>
                    <label for="localization_locale">{{ __('Locale') }}</label>
                </p>
                <select name="localization_locale" id="localization_locale">
                    <option> </option>
                    {%  for locale in locales %}
                        <option{% if submit.locale == locale %} selected="selected"{%  endif %}>{{  locale|escape }}</option>
                    {%  endfor %}
                </select>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{ __('Database') }}</legend>
            <div>
                <p>
                    <label for="database_host">{{ __('Host') }}</label>
                </p>
                <input type="text" name="database_host" id="database_host" value="{{ submit.database_host|escape }}" />
            </div>
            <div>
                <p>
                    <label for="database_database">{{ __('Database (Optional)') }}</label>
                </p>
                <input type="text" name="database_database" id="database_database" value="{{ submit.database_database|escape }}" />
            </div>
            <div>
                <p>
                    <label for="database_username">{{ __('Username') }}</label>
                </p>
                <input type="text" name="database_username" id="database_username" value="{{ submit.database_username|escape }}" />
            </div>
            <div>
                <p>
                    <label for="database_password">{{ __('Password') }}</label>
                </p>
                <input type="text" name="database_password" id="database_password" value="{{ submit.database_password|escape }}" />
            </div>
            <div>
                <p>
                    <label for="database_type">{{ __('Type') }}</label>
                </p>
                <select name="database_type" id="database_type">
                    <option value="mysqli"{% if submit.database_type == 'mysqli' %} selected="selected"{% endif %}>{{ __('MySQLi') }}</option>
                    <option value="pdo"{%  if submit.database_type == 'pdo' %} selected="selected"{% endif %}>{{ __('PDO') }}</option>
                </select>
            </div>
            <div>
                <p>
                    <label for="database_dsn">{{  __('DSN') }}</label>
                </p>
                <input type="text" name="database_dsn" id="database_dsn" value="{{ submit.database_dsn|escape }}" />
            </div>
            <div>
                <label for="database_autoinstall">
                    <input type="checkbox" name="database_autoinstall" id="database_autoinstall" value="1" {% if not submit.database_autoinstall is empty %}checked="checked" {% endif %}/>
                    {{ __('Perform system auto-install') }}
                </label>
            </div>
        </fieldset>
        <div>
            <input type="submit" name="action" value="Test" />
            <input type="submit" name="action" value="Export configuration.php" />
        </div>
        {%  if tests|length > 0 %}
            <fieldset>
                <legend>{{  __('Tests') }}</legend>
                {%  for test in tests %}
                    <div>{{  test|escape }}</div>
                {% endfor %}
            </fieldset>
        {%  endif %}
    </form>
</div>
